.square_0.square_active {
    background-image: radial-gradient(rgb(182, 207, 241), rgb(167, 211, 238), white);
}

.square_1.square_active {
    background-image: radial-gradient(#4444440f, #2222226d, lab(100% 0.01 -0.01));
}

.square_2.square_active {
    background-image: radial-gradient(#ffd1d1, #f8a6a6, white);
}

.square_3.square_active {
    background-image: radial-gradient(#b0f5ba, #d3fcd6, white);
}

.square_4.square_active {
    background-image: radial-gradient(#f4d1ff, #f0b0ff, white);
}

#ChangeUIButton {
    background-color: aliceblue;
}

#phoneNavigation {}

#score {}