body {
    background-image: linear-gradient(to bottom right, rgb(231, 51, 81), pink, rgb(255, 205, 144), rgb(247, 247, 105));
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: none;
    padding: none;
    overflow: hidden;
}

#score {
    position: absolute;
    top: 10px;
    left: 20px;
    min-width: 200px;
    font-size: 2rem;
    background-color: gold;
    color: antiquewhite;
    padding: 6px;
    border-radius: 7px;
    font-weight: bolder;
}

.icon_0 {
    filter: invert(28%) sepia(99%) saturate(7485%) hue-rotate(200deg)
}

.icon_1 {
    color: black;
}

.icon_2 {
    filter: invert(28%) sepia(99%) saturate(7485%)
}

.icon_3 {
    filter: invert(28%) sepia(99%) saturate(7485%) hue-rotate(130deg)
}

.icon_4 {
    filter: invert(28%) sepia(99%) saturate(7485%) hue-rotate(300deg)
}

.square_0.square_active {
    background-image: radial-gradient(rgb(182, 207, 241), rgb(167, 211, 238), white);
}

.square_1.square_active {
    background-image: radial-gradient(#4444440f, #2222226d, lab(100% 0.01 -0.01));
}

.square_2.square_active {
    background-image: radial-gradient(#ffd1d1, #f8a6a6, white);
}

.square_3.square_active {
    background-image: radial-gradient(#b0f5ba, #d3fcd6, white);
}

.square_4.square_active {
    background-image: radial-gradient(#f4d1ff, #f0b0ff, white);
}

.square_active {
    transform: scale(1.1, 1.1);
}

#gameBoard {
    position: relative;
}

.tile,
.square {
    width: 90px;
}

@media only screen and (max-width:728px) {

    .tile,
    .square {
        width: 40px;
    }

    ;

    #score {
        width: 10%;
        top: 10%;
        left: 25%;
        right: 25%;
        font-size: 1.8rem;
    }

}

@media only screen and (max-width:1400px) and (orientation: landscape) {

    .tile,
    .square {
        width: 40px;
    }

    #score {
        width: 10%;
        top: 10%;
        left: 25%;
        right: 25%;
        font-size: 1.8rem;
    }

}

#gameBoard::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    transform: translateX(-5%) translateY(-5%);
    filter: blur(30px);
    background-color: white;
    opacity: .4;
    z-index: -1;
}

.square {
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
}

.tile {
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative;
    display: block;
}

.tile.fade-out {
    opacity: 0;
    transform: scale(0.8);
}

.square {
    position: relative;
}

.square.moving {
    z-index: 10;
    transition: transform 0.3s ease;
    position: relative;
}