body {
    background-image: linear-gradient(to bottom right, rgb(231, 51, 81), pink, rgb(255, 205, 144), rgb(247, 247, 105));
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#score {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 200px;
    font-size: 2rem;
    background-color: transparent;
    color: beige;
    padding: 6px;
    border-radius: 7px;
    font-weight: bolder;
}

.tile:active,
.tile:hover {
    filter: drop-shadow(0px 0px 10px white);
}

#BokuANamaoEErenYeger {
    border: none;
    margin-top: 1vh;
}

.square_active {
    transform: scale(1.1, 1.1);
    flex: 2;
}

#gameBoard {
    position: relative;
}

.tile,
.square {
    width: 90px;

}

@media only screen and (max-width:728px) {

    .tile,
    .square {
        width: 40px;
    }

    ;

    #score {
        width: 10%;
        top: 10%;
        left: 25%;
        right: 25%;
        font-size: 1.8rem;
    }

}

@media only screen and (max-width:1400px) and (orientation: landscape) {

    .tile,
    .square {
        width: 40px;
    }

    #score {
        width: 10%;
        top: 10%;
        left: 25%;
        right: 25%;
        font-size: 1.8rem;
    }

}

#gameBoard::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    transform: translateX(-5%) translateY(-5%);
    filter: blur(30px);
    background-color: white;
    opacity: .4;
    z-index: -1;
}

#gameBoard tr {
    display: flex;
}

.square {
    flex: 1;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
}

.tile {
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative;
    display: block;
}

.tile.fade-out {
    opacity: 0;
    transform: scale(0.8);
}

.square {
    position: relative;
}

.square.moving {
    z-index: 10;
    transition: transform 0.3s ease;
    position: relative;
}